<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <link rel="stylesheet" media="all" href="http://localhost:8080/view/css/styles.css">
    <!-- <link rel="stylesheet" media="all" href="../css/styles.css"> -->
    <title>ChatOps Install Oops · Cloud 66</title>
</head>
<body>
    <header class="Header">
        <div class="Brand">
            <a rel="home" href="http://www.cloud66.com/"><img src="http://www.cloud66.com/img/logo/cloud66.svg" alt="Cloud 66" width="60"></a>
        </div>
        <h1>
           Oops!
        </h1>
        <p class="lead">
            We're sorry, something went wrong! We were unable to register Igor
        </p>
    </header>

    <section class="Section Section--pri">
        <h2 class="u-textCentered">This could be because</h2>


        <p><span class="number-circle number-circle--red">1</span> The <strong>Slack token</strong> was entered incorrectly. Please double check</p>
        <p><span class="number-circle number-circle--red">2</span> The <strong>Cloud 66 token</strong> was entered incorrectly. Please double check</p>

        <p class="u-textCentered"><a href="register.html">Try the registration process again</a>.</p>

        <hr>

        <p class="u-textCentered">If the problem persists, <a href="mailto:support@cloud66.com?subject=ChatOps support">please contact support</a>.</p>
    </section>

    <footer class="Footer">
        <nav><a href="">ChatOps Documentation</a> | <a href="mailto:support@cloud66.com?subject=ChatOps support">Help with ChatOps</a></nav>
    </footer>
</body>
</html>
