<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!-- <link rel="stylesheet" media="all" href="http://localhost:8080/view/css/styles.css">
    <link rel="stylesheet" media="all" href="../css/styles.css"> -->
    <link rel="stylesheet" media="all" href="styles.css">
    <title>ChatOps Install · Cloud 66</title>
</head>
<body>
  <% if ( expressFlash.length > 0 ) { %>
  <p><%= expressFlash %></p>
  <% } %>
    <header class="Header">
        <div class="Brand">
            <a rel="home" href="http://www.cloud66.com/"><img src="http://www.cloud66.com/img/logo/cloud66.svg" alt="Cloud 66" width="60"></a>
        </div>
        <h1>
           Welcome to Igor ChatOps
        </h1>
        <p class="lead">
             Lets get started by authorizing ChatOps to work with Cloud 66 and Slack
        </p>
        <form target="_blank" class="Form is-hidden" action="/register/oauth" method="POST" class="u-textCentered" id="js_get_cloud66_token">
            <button class="Button Button--pri u-fullWidth" type="submit">Get your Cloud 66 Token</button>
        </form>
    </header>

    <section class="Section Section--pri">
        <h2 class="u-textCentered ">Create a Slack Bot</h2>


        <form class="Form" action="" method="POST">
            <div class="Form-row Form-infieldWrap">
                <label class="Form-label" for="js_slack_team_name">Sign in to Slack with your Team Name</label>
                <input class="Form-text u-fullWidth" id="js_slack_team_name" type="text" name="slacklink" autofocus>
                <button class="Button Button--pri Button--go" id="js_slack_team_btn">Go</button>
            </div>
        </form>

        <p><span class="number-circle">1</span> On the <strong>Custom Integrations</strong> page click on <strong>Bots</strong>.</p>
        <p><span class="number-circle">2</span> Create <strong>a new bot</strong>, and copy the Slack token.</p>
        <p><span class="number-circle">3</span> Paste the <strong>Slack</strong> and <strong>Cloud 66</strong> tokens in the form below.</p>

        <hr>

        <h2 class="u-textCentered ">Authorize on Cloud 66</h2>

        <form class="Form" action="/register" method="POST">
            <div class="Form-row">
                <label class="Form-label" for="slack-token">Enter your Slack token</label>
                <input class="Form-text u-fullWidth" id="slack-token" type="text" name="slackToken" required="true">
            </div>

            <div class="Form-row">
                <label class="Form-label" for="c66-token">Enter your <a id="js_post_c66_token_form" href="#">Cloud 66 token <span class="u-textNormal">(Opens a new tab)</span></a></label>
                <input class="Form-text u-fullWidth" id="c66-token" type="text" name="c66Token" required="true">
            </div>

            <div class="Form-row u-flushBottom">
                <input class="Button Button--pri u-fullWidth" type="submit" value="Authorize Igor ChatOps">
            </div>
        </form>
    </section>

    <footer class="Footer">
        <nav><a href="">ChatOps Documentation</a> | <a href="mailto:support@cloud66.com?subject=ChatOps support">Help with ChatOps</a></nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script>
        (function( $ ) {
            $('#js_slack_team_btn').on('click', function() {
                var slackTeam = $('#js_slack_team_name').val().replace(/\s/g, '').trim();
                var url = "https://" + slackTeam + ".slack.com/apps/manage/custom-integrations"
                window.open(url, '_blank');
                return false;
            });
            $('#js_post_c66_token_form').on('click', function(){
                $('#js_get_cloud66_token').submit();
            });
        })( window.jQuery );
    </script>
</body>
</html>
